*{
    font-family: 'EB Garamond', serif;
    font-weight: 700;
}
body{
    width: 1024px; /*utilisez le plus possible les % */
    margin: 0 auto;
}
header{
    width: 50%;
    margin: 10% auto 5%; /*haut - droit & gauche - bas */
}
section{
    width: 100%;
    display: inline-block;
}
footer{
    margin: auto;
    width: 50%;
    text-align: center;
    margin-bottom: 20%;
    font-weight: bold;
}
footer p{
    text-transform: uppercase;
}
footer em{
    font-size: 1.5vw;
    font-style: italic;
    line-height: 5rem;
}
nav{
    text-align: center;
}
nav ul li{
    display: inline-block;
}
a{
    text-decoration: none;
    color: inherit; /* notion d'héritage en css*/
}
#gout{
    margin-bottom: 10%;
}
.titre{
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 0.2em;
    text-align: center;
}
header h2.titre, footer h5.titre{
    color: lightcoral;
    font-weight: bold;
    font-size: 0.65rem;
}
footer h5.titre{
    color: black;
    font-size: 1rem;
    padding: 3.5rem 0;
    background-image: url("../css/IMG/plan.png"); /*on sort pas du dossier css avant de pouvoir rentrer dans le dossier img */
    background-repeat: no-repeat;
    background-position: center;
}
.plate{
    margin: 0;
    width: 49.94%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    float: left;
}
#salle .plate:first-child, #serivce .plate:last-child, #dressage .plate:first-child, #gout .plate:last-child{
    padding: 3%;
    width: 43.3%;
}
.plate img{
        width: 100%;
        height: auto;
}
.plate h3{
        text-transform: uppercase;
        font-size: 2vw;
        font-weight: bold;
}
.plate p{
    font-style: italic;
    font-size: 1vw;
}
.plate p:last-of-type{
        margin-bottom: 5%;
}
.plate span{
    color: whitesmoke;
    background-color: rgb(172, 34, 0);
    text-transform: uppercase;
    padding: 1% 7% 1% 2%;
    margin-top: 2%;
}
.plate i{
    font-size: 1vw;
    margin: 0 0.5%;
}
 #plat .plate{
     width: 49%;
 }
 #plat .plate:last-of-type{
     position: relative;
     right: 15%;
     text-align: right;
    margin-top: 15%;
    }
 }
 #plat .plate img{
     border-radius: 50%;
     width: 80%;
     display: block;
     margin: auto;
 }
 #plat .plate h3{
     font-style: italic;
     text-transform: inherit;
     font-size: 1.5vw;
 }
 #plat .plate p{
     text-transform: uppercase;
     font-style: normal;
     font-size: 1vw;
     letter-spacing: 0.1rem;
 }

 h3{
     border-bottom: 2px solid black;
 }